---
const baseUrl = import.meta.env.BASE_URL;
const hrefHome = `${baseUrl}`;
const hrefSub = `${baseUrl}/subpage/`;
const currentPath = Astro.url.pathname;

console.log("");
console.log(`Current path is: ${currentPath}`);
console.log(`Home path is: ${hrefHome}`);
console.log(`Subpage path is: ${hrefSub}`);
---

<div class="navbar justify-around">
	<ul class="menu menu-horizontal join">
		<li>
			<a
				href={hrefHome}
				class=`btn btn-primary join-item ${currentPath != hrefHome && "btn-outline"}`
				>Home</a
			>
		</li>
		<li>
			<a
				href={hrefSub}
				class=`btn btn-primary join-item ${currentPath != hrefSub && "btn-outline"}`
				>Subpage</a
			>
		</li>
	</ul>
</div>
